.pagination
  display: flex
  margin: 0 -30px
  justify-content: space-between

  .dot
    width: 10px
    height: 10px
    background-color: white
    opacity: 0.4
    border-radius: 50%
    cursor: pointer
    transition: opacity 0.5s linear
    margin: 0 30px

    &--active
      opacity: 1