@import "./styles/animaitons"
@import "./styles/variables"

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Merriweather:wght@700;900&display=swap')

html
  --color-accent: #005FA3
  font-size: 8px

  @media all and (min-width: $screen-ssm)
    font-size: 10px

  @media all and (min-width: $screen-sm)
    font-size: 12px

  @media all and (min-width: $screen-md)
    font-size: 14px

html, body
  width: 100%

*, *::before, *::after
  box-sizing: border-box
  outline: none
  font-family: 'Lato', sans-serif
  -webkit-tap-highlight-color: transparent
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  margin: 0
  padding: 0

#root
  background-color: #F9F9F9


code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

a
  color: inherit
  text-decoration: none